@model CartViewModel

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Cart</h1>

@if (Model.CartProducts.Count() == 0)
{
    <div class="jumbotron">
        <h3>The cart is empty. View the products to buy some!</h3>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="Products" asp-action="All" class="btn btn-primary btn-lg" role="button">View Products</a>
        </p>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="col-4">Product</th>
                <th scope="col" class="col-2">Price</th>
                <th scope="col" class="col-2">Size</th>
                <th scope="col" class="col-2">Quantity</th>
                <th scope="col" class="col-2">Total Price</th>
                <th></th>
            </tr>
        </thead>
    </table>

    @foreach (var product in Model.CartProducts)
    {
        <partial name="_CartProductsPartial" model="@product" />
    }

    <div class="float-right">
        <hr />
        <div class="form-row">
            <div class="form-group col-6">
                <h3>Total Price:</h3>
                <input asp-for="TotalPrice" readonly class="ml-5 col-5 form-control-plaintext form-control-lg text-right" value="@Model.TotalPrice.ToString("0.00$")" />
            </div>
            <div class="col-6">
                <a asp-controller="Orders" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary btn-lg text-uppercase">Order</a>
            </div>
        </div>        
        <br />
        <br />
    </div>
}